* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
}
nav {
  height: 70px;
  display: flex;
  background: white;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--logo {
  max-width: 100px;
}
section {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero--photo {
  max-width: 400px;
  align-self: center;
}
.hero--text {
  margin-top: 32px;
}
.hero--text h1 {
  font-size: 36px;
  line-height: 110%;
  font-weight: 600;
}
.hero--text p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 176px;
}
.card--img__container {
  position: relative;
}
.card--img__sold {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 6px;
  background: white;
  color: #222;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  line-height: 110%;
  border-radius: 2px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.card--img {
  width: 100%;
  max-height: 235px;
  object-fit: cover;
  border-radius: 9px;
  margin-bottom: 9px;
}
.card--description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
}
.card--rating__container {
  display: flex;
  align-items: center;
  gap: 2px;
}
.card--rating__container p {
  color: #222;
}
.card--rating__container p span {
  color: #918e9b;
}
.card--rating {
  width: 14px;
  height: 14px;
}
.card--text h2 {
  line-height: 120%;
  margin-bottom: 10px;
}
